@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Bungee+Tint);

body {
    color: black;
    font-family: Roboto, Tahoma, Verdana;
    background-image: "/images/waterBG01.gif"
    background-position: center center;
    background-repeat: repeat;
    background-size: 4em;
}

h1 {
    color: black;
    font-family: Roboto, Tahoma, Verdana;
    font-size: 48px;
}

h2 {
    color: black;
    font-family: Roboto, Tahoma, Verdana;
    font-size: 40px;
}

h3 {
    color: black;
    font-family: "Apple Chancery", cursive;
    font-size: 26px;
}

 /* Add a grey background color to the top navigation */
.topnav {
  background-color: #a1a1a1;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
} 